
//Variable
$primary-color: #58e1c1;
$secondary-color: #51ddfc;
$white:#fff;
$base-typo-color:#777;
$col-1-info-color:#927bc1;
$col-2-warning-color: #fd7856;
$col-10-success-color: #63cc82;
$round-coners:5px;
$break-point:768px;